.header{
    background-color:rgb(93,43,78);
    background-image: linear-gradient(to left, rgb(93,43,78), rgb(8,2,50));
}
.headerInner{
    display: flex;
    justify-content: space-between;
}
.logo{

    color: white;

}
.logo h2{
    margin-left: 30px;
    font-weight: bold;
    text-transform: lowercase;
    color:#fff;
}
